<div class="row">
    <div class="col-lg-12 col-sm-12">
        <h3 class="tituloSite">Quem somos?</h3>
    </div>
    <div class="col-lg-4">
        <figure class="figura">
            <img src="../../../assets/img/logoPrancha.jpg" alt="logoPrancha">
        </figure>
    </div>
    <div class="col ">
        <p>A CertPrancha é uma das empresas do grupo Achei Digital.</p>
        <p>Nós da Achei Digital temos com pilares</p>
        <figure class="figura">
            <img src="./../../../assets/img/quadroValores.png" alt="Quadro dos valores da empresa">
        </figure>
    </div>
</div>
<div class="row">
    <div class="col paragrafo2">
        <p>Buscamos entregar aos nossos clientes o melhor que podemos fazer, sabendo há sempre algo para melhorarmos!</p>
        <p>Buscamos a constante evolução nos segmentos, de tecnologia, ética, aprimoramento dos processos, segurança das informações e experiência do usuário.</p>
        <p>Queremos servir o melhor que podemos consumir. </p>
    </div>
</div>
