<div>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <div class="imagem"></div>
            </div>
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <div class="imagem1 "></div>
            </div>
            <div class="carousel-caption">
            </div>
        </ng-template>
    </ngb-carousel>
</div>
<!--Parte do corpo do home-->
<div class="row corpoHome">
    <div class="col-lg-2 col-sm-12"></div>
    <div class="col-lg-8 col-sm-12 container">
        <h3>Salve salve galera do Surf, Aloha!!!</h3>
        <p>Se você quiser conhecer a história legal vamos juntos, mas se só quiser saber sobre o produto <a href="#produto"> clique aqui</a></p>
        <p>Meu pai um aprendeu a surfar aos 40 anos depois de uns problemas cardíacos, e foi ótimo para a vida e nessa jornada ele vem sempre adquirindo novas pranchas como todo surfista.</p>
        <p>E eu filhão, analista de sistema criei um sistema que mantém os dados médicos do meu pai, ele escaneia um QRCode e envia para uma página com os dados médico dele, se quiser conhecer melhor esse produto é o <a target="_blank" href="https://achei.digital">ACHEI DIGITAL.</a></p>
        <p>Na ultima prancha que ele comprou, ele colou um QRCode em baixo da camada da resina. Ficou top! O shapper pirou na ideia, e eu percebi que ali poderia nascer um novo produto!</p>
    </div>
    <div class="col-lg-2 col-sm-12"></div>
</div>
<!--Sobre o Produto-->
<div class="row corpoHome">
    <div class="col-lg-2 col-sm-12"></div>
    <div class="col-lg-8 col-sm-12 container">
        <h3 id="produto">Como funciona o CertPrancha?</h3>
        <p>Você surfista já presenciou ou teve a sua prancha de surf roubada, e depois de algum tempo reencontrou ela em algum outro pico? E não tem como provar que a prancha é sua? Ou até mesmo a pessoa que comprou não sabia que era roubada, comprou de
            um loja pequena, ou de alguém que ele não sabia que não era idôneo.</p>
        <p>Durante a confecção da prancha o shapper vai inserir um qrcode na camada abaixo da camada de resina, isso garante que para a retirada do qrcode, o mesmo vai ter que cortar a resina, ou pintar a resina , enfim para o bandido que tentar roubar a
            sua prancha, ele se deparará com o problema que antes ele não tinha.</p>
        <p>Então toda a vez que a prancha mudar de propriedade, terá que fazer a transferência da prancha, se Zé vendou pra Mané ou se A loja do Chiquinho vendou para a Gabi, o nosso sistema irá certificar quem é o último proprietário daquela prancha.</p>
        <p>E futuramente se algo ocorrer você pode provar que aquela prancha é sua!</p>
    </div>
    <div class="col-lg-2 col-sm-12"></div>
</div>
<!--Imagens relativas ao fluxo do sistema-->

<div class="imagemFluxoNova"></div>
<div class="imagemFluxoSeminova"></div>

<!--Ultimo espaço para textos-->
<div class="row corpoHome">
    <div class="col-lg-2 col-sm-12"></div>
    <div class="col-lg-8 col-sm-12 container">
        <p>E se você ainda desacredita que é importante o QRCode para a segurança da sua prancha, segue umas materias para você dar uma conferida aí</p>
        <p>
            <a target="_blank" href="https://surftotal.com/noticias/nacionais/item/20254-4-cidadaos-estrangeiros-apanhados-em-flagrante-a-roubar-pranchas-em-cascais">Roubo de pranha em cascais</a>
        </p>
        <p>
            <a target="_blank" href="https://noticias.r7.com/rio-de-janeiro/rj-no-ar/videos/campea-de-surfe-tem-prancha-roubada-na-zona-oeste-do-rio-de-janeiro-21102015">Campeã de Surf tem Prancha roubada</a>
        </p>
        <p>E se preferir tem um video do Youtube</p>
        <div class="embed-responsive embed-responsive-16by9">
            <youtube-player class=" embed-responsive-item " player-width="'100%'" [height]="250" videoId="6wBBj8_cNao" suggestedQuality="default" [startSeconds]="0"></youtube-player>
        </div>
    </div>
    <div class="col-lg-2 col-sm-12"></div>
</div>
