.form-full-width {
    width: 100%;
}

.btnPropiedade {
    background-color: rgb(0, 0, 0);
    color: #c06f26;
}

.alertas {
    margin-top: 10px;
}

.card {
    height: 100%;
}

.firsLine {
    margin-bottom: 20px;
}

.firsLine h3 {
    text-align: center;
    color: #c06f26;
    background-color: black;
    font-size: xx-large;
    padding: 0.9375rem;
    margin-top: 0.9375rem;
    margin-bottom: 0.9375rem;
}