<nav class="navegador navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">
        <img class=" figure-img" src="../assets/img/logo.jpg" alt="logo CertPrancha">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="links">
            <li class="linksNav">
                <a class="linkNavegador" mat-button routerLink="">
                    <mat-icon class="iconMenu">home</mat-icon>Home</a>
            </li>

            <li class="linksNav">
                <a class="linkNavegador" mat-button routerLink="/politica">
                    <mat-icon class="iconMenu">policy</mat-icon>Politica de privacidade</a>
            </li>
            <li class="linksNav">
                <a class="linkNavegador" mat-button routerLink="/quem">
                    <mat-icon class="iconMenu">people</mat-icon>Quem Somos?</a>
            </li>
            <li class="linksNav">
                <a class="linkNavegador" mat-button routerLink="/contato">
                    <mat-icon class="iconMenu">email</mat-icon>Contato</a>
            </li>
        </ul>

    </div>
</nav>
