<div class="row">
    <div class="col-sm-12 col-lg"></div>
    <div class="col-sm-12 col-lg-10">
        <h3>Bem vindo Lojista</h3>
        <p>Se você se interessou pelo nosso produto aqui faremos uma parceria da mais alta qualidade!</p>
        <p>A nossa ideia nasceu porque meu paizão surfa e eu queria protejer ele de alguma forma!</p>
        <h4>Como funciona?</h4>
        <p>Você se cadastra no nosso sistema e iremos dar topo o suporte para você desenvolver a melhor prancha para o nosso cliente.</p>
        <p>Lá você terá acesso a um cadastro dos nossos clientes, saberá os modelos de pranchas mais vendidas, poderá informar em que estado está o desenvolvimento da prancha entre outras funcionalidades. </p>
        <p>Dando mais segurança e conforto para todos!</p>
        <p>Cada prancha que você produzir por baixo da resina você irá imprimir e insere um QrCode único, para cadas prancha</p>
        <h3>Quanto custa?</h3>
        <p>Sem enrolação R$100,00 de mensalidade e mais R$10,00 por prancha!</p>
    </div>
    <div class="col-sm-12 col-lg"></div>
</div>
<div class="row">
    <div class="col-lg-12 col-sm-12 ">
        <h3>Curtir borá cadastrar a sua loja?</h3>
        <button mat-flat-button class="btnCadastro" routerLink="/cadastrarlojista">Cadastre -se</button>
    </div>
</div>
